<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.demo.mapper.HouseMapper">

    <select id="getHouse" resultType="com.song.demo.vo.HouseVo">
        select
            h.*,
            u.username as agent_name,
            u.phone as agent_phone,
            GROUP_CONCAT(hi.image_url) as images,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM likes k
                    WHERE h.house_id = k.house_id and k.user_id = #{query.userId}
                ) THEN 1 ELSE 0
            END AS is_liked
        from houses h
            left join users u on h.agent = u.user_id
            left join house_images hi on h.house_id = hi.house_id
        <where>
            <if test="query.status != null and query.status != ''">
                and h.status = #{query.status}
            </if>
            <if test="query.layout != null and query.layout != ''">
                and h.layout = #{query.layout}
            </if>
            <if test="query.city != null and query.city != ''">
                and h.city = #{query.city}
            </if>
            <if test="query.community != null and query.community != ''">
                and h.community like concat('%', #{query.community}, '%')
            </if>
            <if test="query.name != null and query.name != ''">
                and h.name like concat('%', #{query.name}, '%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                and h.phone = #{query.phone}
            </if>
        </where>
        group by h.house_id
        order by h.create_time desc
    </select>

    <select id="queryHouse" resultType="com.song.demo.vo.HouseVo">
        select
            h.*,
            u.username as agent_name,
            u.phone as agent_phone,
            hi.image_url as image_cover,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM likes k
                    WHERE h.house_id = k.house_id and k.user_id = #{query.userId}
                ) THEN 1 ELSE 0
            END AS is_liked
        from houses h
            left join users u on h.agent = u.user_id
            left join house_images hi on h.house_id = hi.house_id and hi.is_cover = 1
        <where>
            h.status = 'AVAILABLE'
            <if test="query.keyword != null and query.keyword != ''">
                and (h.community like concat('%', #{query.keyword}, '%')
                    or h.address like concat('%', #{query.keyword}, '%')
                    or h.title like concat('%', #{query.keyword}, '%'))
            </if>
        </where>
        order by ${query.sortType} desc
    </select>


    <select id="getHouseById" resultType="com.song.demo.vo.HouseVo">
        select
            h.*,
            u.username as agent_name,
            u.phone as agent_phone,
            GROUP_CONCAT(hi.image_url) as images
        from houses h
            left join users u on h.agent = u.user_id
            left join house_images hi on h.house_id = hi.house_id
        where h.house_id = #{id}
    </select>
</mapper>
